.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card2 card1 card4"
    "card2 card3 card4";
  gap: 1.75rem;

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "card2"
      "card1"
      "card3"
      "card4";
  }
}
