@import "./variables.scss";

.main {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    margin: 0 auto;
    max-width: 120rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: 70.625em) {
      margin: 4rem 2rem;
    }
  }

  &-heading-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
    text-align: center;
    gap: 0.75rem;
  }

  &__heading {
    color: $color-very-dark-blue;
    line-height: 1.4;
    font-size: 2.05rem;

    @media only screen and (max-width: 56.25em) {
      font-size: 1.55rem;
    }

    &-light {
      font-weight: 200;
      display: block;
      font-size: 2rem;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }
    }
  }

  &__text {
    color: $color-grayish-blue;
    font-size: 0.96rem;
  }
}
